doctype html
html
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      H1 {
        margin: 0;
      }
        table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #007bff;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      .actions {
        display: flex;
        gap: 10px;
      }
      .actions button {
        padding: 5px 10px;
        border: none;
        cursor: pointer;
      }
      .actions .edit-btn {
        background-color: #28a745;
        color: white;
      }
      .actions .delete-btn {
        background-color: #dc3545;
        color: white;
      }
    body
      include ../partials/header.pug

      .container
        h1 Vaccine List

        if vaccines.length
          table
            thead
              tr
                th Name Commercial
                th Laboratory
                th Country of Origin
                th Manufacture Date
                th Expiration Date
                th Action
            tbody
              each vaccine in vaccines
                tr
                  td #{vaccine.name_commercial}
                  td #{vaccine.laboratory}
                  td #{vaccine.originCountry}
                  td #{vaccine.manufactureDate}
                  td #{vaccine.expirationDate}
                  td
                    .actions
                      a(href=`/vaccines/edit/${vaccine.id}`)
                        button.edit-btn Edit
                      form(action=`/vaccines/delete/${vaccine.id}` method="POST")
                        button.delete-btn(type="submit") Delete
        else
        p No vaccines available.